<div class="modal wizardModal smallWizardModal">
    <h3>Opdaterede betingelser</h3>

    <p>
        Vi har opdateret vores brugerbetingelser og persondatapolitik. 
    </p>

    <p>
        Du kan læse vores brugerbetingelser og persondatapolitik, hvis du vil vide mere.
        Hvis du har spørgsmål, er du velkommen til at <a href="#" data-bind="attr: { href: feedbackEmail }">skrive til vores support</a> 
        &ndash; vi sidder klar til at hjælpe dig.
    </p>

    <div class="actions">
        <p class="left">
            <a class="btn btn-default" data-bind="attr: {href: termsUrl}, click: showTerms" target="_blank" rel="noopener">Vis betingelser</a>
            <a class="btn btn-default" data-bind="attr: {href: privacyPolicyUrl}, click: showPrivacyPolicy" target="_blank" rel="noopener">Vis persondatapolitik</a>
        </p>
        <p class="right">
            <button type="button" class="btn btn-primary" data-bind="click: close">Åbn Spiir</button>
        </p>
    </div>
</div>