DB_HOST=localhost
DB_NAME=spiir
DB_USER=foo
DB_PASS=bar
USER_ID=12345678
EMAIL=foobar@example.org
LAST_UPLOAD=1970-01-01T00:00:00.000000Z # TODO
CONSUMPTION_POSTS_COUNT=12345 # TODO
CONSUMPTION_POSTS_CATEGORIZED_COUNT=1234 # TODO
CATEGORIZATION_COMPLETED=10 #TODO