<div class="introTooltip" style="width: 500px; font-size: 11px;">
    <div class="arrow bottom"></div>
    <div class="line">
        <div class="unit size1of2">
            <p><strong>Forbrug</strong>.</p>
            <p>Kun poster fra forbrugskonti indgår i grafer og gns. Hvis du kan bruge penge fra kontoen, er det forbrug - det gælder ofte også fx. opsparings- og hensættelskonti.</p>
        </div>
        <div class="unit size1of2 lastUnit">
           <p><strong>Lån og låst opsparing</strong>.</p>
           <p>Poster indgår ikke i grafer og gns. og vises ikke på postersiden. Indbetalinger kategoriseres som den valgte kontotype. Fx. Boliglån, Billån eller Børneopsparing.</p>
        </div>
    </div>
</div>
